@{
    ViewBag.Title = "Reporte";
}

<h2><b>Reportes SIGERET</b></h2>

<br>

<ul>
    <li>@Html.ActionLink("Reporte de Usuarios Registrados", "ReporteUsuarios", "Reporte")</li>
</ul>
@*<ul>
    <li>@Html.ActionLink("Reporte de Recursos según solicitudes realizadas", "ReporteUsuarios", "Reporte")</li>
    <li><a href="/Reporte/ReporteRecursoSolicitud">Reporte de Recursos según solicitudes realizadas</a></li>
</ul>*@
<ul>
    <li>@Html.ActionLink("Reporte de Prestamos Agrupados por usuarios", "ReportePrestamosUsuarios", "Reporte")</li>
</ul>
<ul>
    <li>@Html.ActionLink("Reporte de Solicitudes agrupadas por Usuarios", "ReporteUsuarioSolicitud", "Reporte")</li>
</ul>
@*<ul>
    <li><a href="/Reporte/ReporteDisponibilidad">Reporte según disponiblidad</a></li>
</ul>
<ul>
    <li><a href="/Reporte/ReporteTotales">Reporte Totalitario</a></li>
</ul>*@