@{
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><b>Reportes SIGERET</b></h2>

<br>

<ul>
    <li><a href="/Reporte/ReporteUsuarios.cshtml">Reporte de Usuarios Registrados</a></li>
</ul>
<ul>
    <li><a href="/Reporte/ReporteRecursoSolicitud.cshtml">Reporte de Recursos según solicitudes realizadas</a></li>
</ul>
<ul>
    <li><a href="/Reporte/ReportePretamos.cshtml">Reporte Usuarios agrupado por solicitudes</a></li>
</ul>
<ul>
    <li><a href="/Reporte/ReporteUsuariosSolicitud.cshtml">Reporte de Solicitudes agrupadas por Usuarios</a></li>
</ul>
<ul>
    <li><a href="/Reporte/ReporteDisponibilidad.cshtml">Reporte según disponiblidad</a></li>
</ul>
<ul>
    <li><a href="/Reporte/ReporteTotales.cshtml">Reporte Totalitario</a></li>
</ul>