@{
    ViewBag.Title = "Paramterización - Página Principal";
}

<div class="row">
    <div class="col-lg-12">
        <hgroup class="title">
            <h2>Registrar Datos Parametrizados de Inicio</h2>
        </hgroup>
        <div class="well ">
            <div class="row">
                <ul>
                    <li>@Html.ActionLink("Edificios", "Edificios", "Parametrizacion")</li>
                    <li>@Html.ActionLink("Aulas", "Aulas", "Parametrizacion")</li>
                </ul>
            </div>
        </div>
    </div>
</div>
